body {
  background-color: var(--secondary-color) !important;
}

h1 {
  font-family: 'Tilt Warp', cursive;
  font-size: var(--h1-font-size);
}
small.com {
font-size: .6em;
}
/* ------------------------- Bootstrap Media Queries ------------------------ */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 62rem) {
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 75rem) {
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 87.5rem) {
}
