.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}

body {
  /* background-color: #8abfe0 !important; */
}

nav a img {
  width: 50px;
  height: auto;
}

.personPic {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.262),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 15rem;
}

#margin {
  margin-bottom: 15rem;
}

ul {
  list-style-type: none;
}

/* 
#endLogo {
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100px;
 */

#toggle:checked ~ label div.toggle-dot {
  @apply translate-x-2;
}


.h1 {
  @apply text-7xl lg:text-7xl xl:text-8xl 2xl:text-9xl
}