---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact Us">

  <main class="container" style="margin:auto;">
    <form>
      <label for="first">First</label>
      <label for="last" style="margin-left: 159px;">Last</label><br>
      <input id="first"/>
      <input id="last" style="margin-left: 5px;"/>
      <br>
      <label>Description</label>
      <br>

      <textarea placeholder="I think this website is great..." rows="4" cols="42"/>
    </form>
  </main>

</Layout>


  <style></style>
