---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Date Ideas">

  <main class="container">
    <h1 class="text-center">Local Date Ideas</h1>
    <p class="cow"><i class="fa-solid fa-cow"></i> = Utah State University Activity</p>
    
    <ul id="ideas">
      <li>Play magic, dnd, and other card / board games at <a href="https://gglogan.com" target="_blank">Game Grid</a></li>
      <li>Make charcuterie board and watch sunrise/sunset at <a href="https://intermountainhealthcare.org/services/wellness-preventive-medicine/live-well/move-well/healthy-hikes/find-a-hike/hyrum-gibbons/">Hyrum Gibbon Mt. Logan Park</a></li>
      <li>Cooking class at <a href="https://luvtocook.com">Love To Cook</a></li>
      <li>Go to the <a href="https://www.deseretindustries.org/locations/3306429">D.I.</a> and find each other an outfit for under $15 dollars</li>
      <li>Local Music at <a href="https://www.cachebarlogan.com">The Cache</a></li>
      <li>Jazz night (live music, food, dancing) at <a href="https://www.elitehall.org">Elite Hall</a> in Hyrum</li>
      <li>Learn to Ski / Snowboard at Beaver Mountain - <a href="https://www.skithebeav.com/lessons-and-rentals/beginner-lessons/">Learn-To-Turn</a></li>
      <li>Volunteer to walk dogs / play with cats at <a href="https://cachehumane.org">Cache Humane Society</a></li>
    
      <li>Weekend brunch at <a href="https://www.hermsinn.com/history">Herm's Inn</a> if there is a wait, take a walk to first dam</li>
      <li>Get a drink from local coffee shops<br>- <a href="https://www.thewestsidecoffeecompany.com">Westside</a><br>- <a href="https://www.caffeibis.com">Cafe Ibis</a></li>
      <li>Walk the <a href="https://www.alltrails.com/trail/us/utah/logan-river-trail">Logan River Trail</a>. You can make a loop with the <a href="https://www.alltrails.com/trail/us/utah/highline-trail--2">Highland Trail</a>. (~3.5 mi) Climb at Elevation</li>
      <li><i class="fa-solid fa-cow"></i> Try something new and rent something from <a href="https://www.usu.edu/campusrec/">campus recreation</a>. (ie. paddle boards, skis/snowboards, mountain bikes, camping gear, etc)</li>
      <li>Around holidays, take a picture with Santa at the mall</li>
      <li>Try great vegan food at <a href="https://www.bloomlogan.com">Bloom</a></li>
      <li>Visit <a href="https://www.alltrails.com/trail/us/utah/tony-grove-nature-trail">Tony Grove Lake</a>. There is a small trial around the lake, paddle boarding, kayacking, or trail heads to
        <a href="https://www.alltrails.com/trail/us/utah/naomi-peak-trail">Naomi Peak</a> or <a href="https://www.alltrails.com/trail/us/utah/white-pine-lake">White Pine</a> (White pine is also a great beginner backpacking trail)</li>
      <li>Create a playlist together and take a scenic drive to <a href="https://bearlake.org">Bear Lake</a>. Enjoy local raspberry shakes. Raspberry Days
        (August 3rd-5th 2023)</li>
      <li>Ice Skating at <a href="https://www.ecclesice.com">George S. Eccles Ice Center</a></li>
      <li>Explore Logan's Art Scene. Visit the <a href="https://artmuseum.usu.edu">Nora Eccles Harrison Museum of Art</a> at Utah State University or stroll through the <a href="https://www.cachearts.org">Cache Valley Center</a> for the Arts in downtown Logan to enjoy local art and performances</li>
      <li>Enjoy a night at the <a href="https://www.theutahtheatre.org">Utah Theatre</a>. Catch a movie or live performance at the historic Utah Theatre in downtown Logan. The theatre has been beautifully restored and offers a unique atmosphere for a night out.</li>
      <li>Visit the <a href="https://www.google.com/search?client=safari&rls=en&q=American+West+Heritage+Center&ie=UTF-8&oe=UTF-8">American West Heritage Center</a>. This living history museum showcases the history of the American West. You and your date can take a tour, watch a live demonstration, and learn about the pioneers who settled in the area.
      </li>
      <li>Hike to <a href="https://www.alltrails.com/trail/us/utah/wind-cave-trail">Wind Caves</a>. Take a hike up to the Wind Caves in Logan Canyon. The trail is moderate in difficulty and offers breathtaking views of the surrounding mountains. Or take a less traveled hike across the canyon, <a href="https://www.alltrails.com/trail/us/utah/crimson-trail--5">Crimson Trail</a>. Crimson trail lines the top of spectacular cliffs and offers a different view of the <a href="https://www.alltrails.com/trail/us/utah/wind-cave-trail">Wind Caves</a>.</li>
      <li>Visit <a href="https://zootah.org">Zootah</a> and have a picnic at Willow Park after</li>
      <li>Play Horseshoe at Willow Horseshoe Park</li>
      <li>Visit <a href="https://www.redballoontoystore.com">Red Balloon Toys</a> and find a project that you can do together</li>
      <li>Sled down the hill at Old Main on campus</li>
      <li>Get in shape together. Run the stairs on Old Main followed by a jog on the canal trail to <a href="https://www.tripadvisor.com/Attraction_Review-g57049-d3161783-Reviews-First_Dam_Canyon_Entrance_Park-Logan_Utah.html">First Dam</a></li>
      <li>Get a paint set and paint some of Logan’s beautiful scenery. Dry canyon, or first or second dam would be great
        options</li>
      <li>Participate in a <a href="http://www.logandowntown.org/scavenger-hunts.html">scavenger hunt</a></li>
      <li>Go fishing. <a href="https://www.logan.qld.gov.au/directory-record/1536/logan-river-parklands">Logan River</a> is one of the best places to go fishing in the state, and you can find a variety of
        fish,including brown trout, rainbow trout, and cutthroat trout</li>
      <li>Go swimming at <a href="https://www.fs.usda.gov/recarea/uwcnf/recarea/?recid=9595">Porcupine Reservoir</a></li>
      <li>Take a polar bear plunge at second dam</li>
      <li>Go to the <a href="https://www.churchofjesuschrist.org/temples/details/logan-utah-temple?lang=eng">Logan LDS Temple</a>. If you are a member of the LDS church, you can visit the Logan Temple and take a guided tour. The temple is a beautiful and peaceful place to spend some time.</li>
      <li>Stargaze up Logan canyon</li>
      <li>Go to <a href="https://www.colormemine.com">Color Me Mine</a> and paint a pot</li>
      <li>Take a paint class at <a href="https://www.imaginethislogan.com/">Image This</a></li>
      <li>Go to the Farmer’s market and buy fresh ingredients to cook a meal together</li>
      <li>Take a pottery class at <a href="https://loganfineartgallery.com">Logan Fine Art Gallery</a></li>
      <li>Attend a sporting event at Utah State University</li>
      <li>Go on a <a href="https://www.geocaching.com/play">geocaching</a> adventure</li>
      <li>Attend a rodeo at the <a href="https://www.cachecounty.org/fairgrounds/">fairgrounds</a></li>
      <li>Golfing at <a href="https://www.logancountryclub.com">Logan Golf and Country Club</a></li>
      <li>Snowshoe <a href="https://www.alltrails.com/trail/us/utah/green-canyon">Green Canyon</a></li>
      <li>Axe throwing, bowling, arcade, rollarblading at <a href="https://cachevalleyfunpark.com">Fun Park</a></li>
      <li><i class="fa-solid fa-cow"></i> sk80’s at <a href="https://cachevalleyfunpark.com">Fun Park</a></li>
      <li>Try snowmobiling at <a href="https://www.beavercreeklodge.com/snowmobile-rentals/">Beaver Creek Lodge</a></li>
      <li>Take highway 30 to Honeyville and enjoy <a href="https://www.crystalhotsprings.net/home/">Crystal Hot Springs</a></li>
      <li>Go on a drive to Preson, ID and visit where Napoleon Dynamite was filmed</li>
      <li>Go night skiing for 25$ at <a href="https://www.skicpr.com/hours-rates">Cherry Peak Resort</a></li>
      <li>Visit the <a href="https://www.fws.gov/refuge/bear-river-migratory-bird">Bird Refuge</a></li>
      <li>Paddle board in Mantua</li>
      <li>Visit <a href="https://www.themainstreetbooktable.com">The Book Table</a> - a bookstore that offers a wide variety of books, toys, and gifts.</li>
      <li>Attend <a href="https://www.crumbbrothersbakery.com">Crumb Brother’s Sunday Brunch</a></li>
      <li><i class="fa-solid fa-cow"></i> Rock Climb at the Arc's Climing Wall</li>
      <li>Try paddle board yoga</li>
      <li>Explore the other side of the valley and hike the <a href="https://www.alltrails.com/trail/us/utah/wellsville-ridge-trail">Ridgeline of the Wellsville Mountains</a></li>
      <li>Volunteer at a soup kitchen</li>
      <li>Jet ski rentals at Bear Lake</li>
      <li>Corn maze <a href="https://www.awhc.org">Heritage West American Center</a></li>
      <li>Watch the <a href="https://theanticsimprov.com">Antics</a> improv show</li>
      <li>Go shooting at the <a href="">Cache Valley Range</a></li>
      <li>Go ice blocking on <a href="">Old Main</a> Hill</li>
      <li>Play Frisbee golf at logan fairgrounds, elk ridge</li>
      <li>Mini Golfing at <a href="https://www.loganminigolf.com">Logan Mini Golf</a></li>
      <li><i class="fa-solid fa-cow"></i> Go to the campus VR lab</li>
      <li>Go to <a href="https://cachevalleymall.com/store/Fun-Unlimited/2138891796/">Fun Unlimited</a> and play in their arcade</li>
      <li>Take a tour of the <a href="https://gossner.com">Gossner's Cheese Factory</a></li>
      <li>Tour the Logan Tabernacle</li>
      <li>Visit <a href="https://logansummerfest.org">Summerfest</a></li>
      <li><a href="https://www.awhc.org/babyanimaldays/">Baby Animal Days</a></li>
      <li>Corn Maze at <a href="http://www.lbbcornmaze.com">Little Bear Bottom's</a></li>
      <li>Reenact your first date</li>
      <li>Stay the night at a local bed and breakfast (<a href="https://anniversaryinn.com">Anniversary Inn</a>, <a href="https://oldrockchurch.com">Old Rock Church</a>, <a href="https://www.theritermansion.com">The Riter Mansion</a>)</li>
      <li>Go people watching on campus, but have popcorn, so it’s really obvious what you’re doing</li>
      <li>Make kites together and go fly them Lundstrum Park</li>
      <li>Pretend to be strangers and meet at <a href="https://www.cachebarlogan.com">The Cache Bar</a></li>
      <li>Go camping at <a href="https://www.recreation.gov/camping/campgrounds/232102">Spring Hollow</a> and toast marshmallows and hot dogs by a campfire</li>
      <li>Dine in three local restaurants. One for the appetizer, one for dinner, and the final for desert.</li>
      <li>Push your boundaries with spicy foods and order “Extra Spicy” at <a href="https://www.tandooriovenlogan.com">Tandoori Oven</a></li>
      <li>Pack a picnic and hike Mount Logan. Enjoy lunch at the top</li>
      <li>Take a yoga class or attend a sound bath at <a href="https://www.solspeakyoga.com">Sol Speak Yoga</a></li>
      <li>Have a midnight picnic together under the stars in Logan Canyon</li>
      <li>Play frisbee in the dark with a glow in the dark frisbee on the Quad on campus</li>
      <li>Play Pickleball at <a href="https://thepicklr.com/location/logan/">The Picklr</a></li>
      <li>Go to <a href="https://www.usu.edu/aggieicecream/">Aggie Ice Cream</a> and eat as many flavors as you can in a week</li>
      <li>Take a tour of <a href="https://thechocolatefactorywi.com">The Chocolate Factory</a> on Campus</li>
    </ul>
  </main>

</Layout>


  <style></style>
