---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="container">
    <br />
    <h1 class="text-center">
      Local Logan<small class="com d-none d-md-inline">.com</small>
    </h1>
    <p class="text-center">
      Last updated on: <span id="last-commit-date"></span>
    </p>
    <br />
    <br />
    <div id="calendar" style="text-align: center; margin:auto;"></div>
  </main>
</Layout>

<style></style>
