---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Social Welfare">
  <main class="container">
    <details>
      <summary>Little Lamb</summary>
      <p>website</p>
      <p>PHoen number</p>
      <p>ADrress</p>
      <p>Website Last Updated on: <span id="last-commit-date"></span></p>
    </details>
  </main>
</Layout>

<style></style>
