---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Subscribe">
  <main class="container">
    Thank you for checking out our page! If you haven't done so already, be sure
    to enter your email and subscribe so we can notify you of the latest and
    greatest that is going on in your town!
  </main>
</Layout>

<style></style>
