---
export interface Props {}

const {} = Astro.props;
---

<div class="container" style="margin-top: auto;">
  <hr />
  <footer class="py-3 mb-4">
    <ul class="nav justify-content-center align-items-center pb-0 mb-0">
      <li class="nav-item">
        <a href="/contact-us" class="nav-link px-2 text-muted">Contact Us</a>
      </li>
      <div style="margin: 0px 20px;">
        <a href="/"
          ><img
            src="/assets/images/black.png"
            alt=""
            class="d-none d-lg-block"
            width="70px"
            height="auto"
          /></a
        >
      </div>
      <li class="nav-item">
        <a href="/creators" class="nav-link px-2 text-muted">Creators</a>
      </li>
    </ul>
  </footer>
</div>

<style></style>
