---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body }  = Astro.props;
---

<nav class="navbar navbar-expand-md navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand d-md-none" href="#">
			<img src="/assets/images/black.png" alt="" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/"
						>Event Calendar</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Social Welfare</a>
				</li>
				<a class="navbar-brand d-none d-md-block" href="#">
					<img src="/assets/images/black.png" alt="" />
				</a>
				<li class="nav-item">
					<a class="nav-link" href="/pages/date-ideas.html">Date Ideas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<style>
</style>
