---
import NavItem from "./NavItem.astro";
export interface Props {}

const {} = Astro.props;
---

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none" href="#">
      <img src="/assets/images/black.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <NavItem link="" title="Event Calendar" />
        <NavItem link="social-welfare" title="Social Welfare" />
        <NavItem link="date-ideas" title="Date Ideas" />
        <a class="navbar-brand d-none d-md-block" href="#">
          <img src="/assets/images/black.png" alt="" />
        </a>
        <NavItem link="contact-us" title="Contact" />
        <NavItem link="subscribe" title="Subscribe" />
        <NavItem link="shop" title="Shop" />
      </ul>
    </div>
  </div>
</nav>

<style></style>
